#modal-center input[type="radio"] {
    margin-top: -4px;
    width: 16px;
}

#modal-center .uk-radio:checked {
    background-color: #009688;
}

#modal-center .uk-modal-dialog {
    padding: 40px 20px;
}

.photoreact-wrapper .uk-sticky {
    margin-left: -20px !important;
    margin-right: -20px !important;
    z-index: 1000;
}

.photoreact-wrapper .uk-card-body {
    padding: 10px 20px;
}


.photoreact-wrapper .uk-navbar {
    display: block;
}

.photoreact-wrapper .uk-grid-small .uk-card-default .img-wrap {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 170px;
    display: block;
    border-radius: 5px 5px 0 0;
}

.photoreact-wrapper .uk-grid-small .uk-card-default {
    border-radius: 5px;
    padding-bottom: 15px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.d-flex > * {

}

@media (max-width: 1023px) {
    .photoreact-wrapper .photoreact--detail {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        z-index: 9999;
    }

    .photoreact-wrapper .photoreact--detail .uk-position-relative.uk-margin-top {
        padding-left: 10px;
    }

    .photoreact-wrapper .photoreact--detail .photoreact--detail_list {
        margin-left: 20px;
        overflow-y: auto;
        height: 50vh;
    }

    .photoreact-wrapper .photoreact--detail * {
        color: #000000;
    }

    .js-photoreact--detail_close {
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 20px;
        color: white !important;
        margin-left: 15px !important;
        width: 25px;
        height: 25px;
        background: rgba(0, 0, 0, .5);
        text-align: center;
        border-radius: 50%;
        line-height: 1.4;
    }

    .photoreact-wrapper .photoreact--detail .uk-slideshow-items li img {
        width: fit-content;
    }

    .photoreact-wrapper .photoreact--detail .uk-thumbnav {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1024px) {
    .photoreact-wrapper .photoreact--detail {
        background-color: #222;
        padding: 20px;
        margin-top: 25px;
        left: 0;
        top: 100%;
        z-index: 99;
        position: absolute;
    }


    .photoreact-wrapper .photoreact--detail * {
        color: #ddd;
    }

    .js-photoreact--room:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #222;
        position: absolute;
        bottom: 0;
        margin-bottom: -25px;
        left: 50%;
        margin-left: -12px;
        display: none;
    }

    .js-photoreact--room.active:after {
        display: block;
    }
}

.js-photoreact--detail_close {
    font-size: 18px;
}

.mt-50 {
    margin-top: 50px;
}

.js-photoreact--room {
    cursor: pointer;
    position: relative;
}


.d-border-bottom {
    border-bottom: 1px solid #999;
}

.photoreact-wrapper .photoreact--detail .uk-flex.uk-text-small {
    line-height: 25px;
}

div.photoreact--detail_list > div:nth-last-of-type(2) > span:last-child {
    border-bottom: 1px solid #999;
}

#modal-center .uk-close:after {
    content: "";
}

.ceiling-filter_form-desktop input {
    border: unset;
}

.ceiling-filter_form-desktop > .uk-grid {
    margin-left: -10px;
}

.ceiling-filter_form-desktop .uk-grid > label {
    padding-left: 10px;
}

.js-ceiling-filter_form label.active {
    color: #32d296;
}

.uk-navbar-nav > li > a {
    text-transform: initial;
}

.photoreact-wrapper .uk-slideshow-items > *, .photoreact-wrapper .uk-slider > * {
    position: static;
}

.photoreact-wrapper .uk-radio {
    background: none;
    width: 0;
    height: 0;
}

.ceiling-filter_form-mobile label {
    display: block;
    margin: 10px 5px;
}